.post-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.post-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}



.post-card-body {
    padding: 20px;
}

.post-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.post-card-title:hover {
    color:#6E757C;
}

.post-card-text {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.read-more-btn {
    background-color: #db8c8c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #a56d6d;
}

/* Grid layout for posts */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
}

/* Centering content and responsive adjustments */
.content {
    margin-top: 20px;
}